.Page404 {
  /* background-image: url("../../../assets/shockedBrain.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    height: 572px; */
  /* width: 100%; */
}

.brainImg {
  /* width: 300px; */
}
